// calculator.less
// -----------------------------------------------------------------


.page-template-page-calculator {

  #calculator p {
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
  }
    
  select {
     width: auto;
     margin: 0 10px;
     vertical-align: middle;
     display: inline-block;
   }

   input {
     width: 120px;
     color: @brand-primary;
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 0;
     vertical-align: middle;
   }

   input:focus {

   }

   .styled-select {
     display: inline-block;
     width: 140px;
     height: 34px;
     overflow: hidden;
     border: 1px solid #ccc;
   }
 }


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}