// calculator.less
// -----------------------------------------------------------------


.page-template-page-calculator {
  .calculator {
    margin: 0 0 80px;
  }
  #calculator p {
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
  }

  select {
     width: auto;
     margin: 0 10px;
     vertical-align: middle;
     display: inline-block;
   }

   input {
     width: 120px;
     color: @brand-primary;
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 0;
     vertical-align: middle;
   }

   input:focus {

   }

   .styled-select {
     display: inline-block;
     width: 140px;
     height: 34px;
     overflow: hidden;
     border: 1px solid #ccc;
   }
   .callouts {
     .callout {
       display: block;
       .clearfix();
       background: #fcf9f6;
       color: @text-color;
       transition: 150ms background;
       &:hover {
         background: #f9f2ec;
         .callout-link {
           text-decoration: underline;
           color: @link-hover-color;
         }
       }
       .callout-img {
         width: 25%;
         height: 150px;
         float: left;
         background-size: cover;
         background-position: 50% 50%;
       }
       .callout-content {
         border-top: 5px solid #e8d8c3;
         width: 75%;
         height: 150px;
         float: left;
         padding: 30px;
         h4 {
           font-weight: 600;
           font-size: 16px;
           text-transform: none;
           margin: 0 0 15px;
         }
         .callout-link {
           font-size: 14px;
           text-transform: uppercase;
           letter-spacing: .5px;
           font-weight: 700;
           color: @link-color;
         }
       }
     }
   }
 }


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}
