// product.less
// -----------------------------------------------------------------


.single-product {
  .hero-title {
    height: 550px;
    margin: 0 0 90px;
    .hero-content {
      flex-flow: column;
    }
    .series-name {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 84px;
      display: block;
    }
    h1 {

    }
    .btn-quote {
      padding: 19px 70px;
      font-size: 14px;
      margin-top: 60px;
    }
  }

  .product-top {
    display: flex;
    margin: 0 0 90px;
    & > * {
      width: 33.333%;
      padding: 0 30px;
    }
  }

  .product-middle {
    margin: 0 0 80px;
  }

  .product-meta {
    text-align: center;
    .product-name-badge {
      background: #f2f2f2;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      text-align: center;
      line-height: 150px;
      display: inline-block;
      font-size: 60px;
      font-weight: 700;
      color: #666;
    }
  }

  .page-content {
    ul {
      .list-unstyled();
      li {
        margin-right: 8px;
        display: inline-block;
        a {

        }
      }
    }
  }
  // .nav-tabs {
  //   margin-bottom: 30px;
  //   li {
  //     a {
  //       font-weight: 700;
  //       font-size: 14px;
  //       text-transform: uppercase;
  //       letter-spacing: 2px;
  //     }
  //   }
  // }
  // .tab-content {
  //   li {
  //     margin-bottom: 10px;
  //   }
  // }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .single-product {
    .product-top {
      margin-bottom: 30px;
    }
    .product-meta {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .product-image {
      img {
        width: 50%;
        margin: 0 auto 60px;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .single-product {
    .product-top {
      margin-bottom: 30px;
    }
    .product-meta {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .product-image {
      img {
        width: 50%;
        margin: 0 auto 60px;
      }
    }
    .nav-tabs {
      li {
        float: none;
        margin-bottom: 0;
        a {
          border: 0;
          border-radius: 3px;
        }
        &.active {
          a {
            border: 0;
            background: @brand-primary;
            color: #fff;
          }
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}
