.tax-product-line,
.tax-frame-material,
.tax-window-style,
.tax-series {
  .site-header,
  .navbar {
    margin: 0;
  }
  .product-line-description {
    font-size: 16px;
    color: @headings-color;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}

.product-results {
  margin-bottom: 60px;
  .results-title {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px;
    font-weight: 700;
  }
}
