// site-header.less
// -----------------------------------------------------------------

.site-header {
  margin-bottom: 50px;
  z-index: 100;
  position: relative;
  .navbar-brand {
    padding: 12.5px 15px;
    margin: 0 @grid-gutter-width 0 0;
    img {
      height: 57px;
    }
  }
  .navbar-quote {
    position: absolute;
    right: 30px;
    .btn-request-quote {
      border: 1px solid @link-color;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 14px 20px;
      margin: 15px 0;
      background-color: #fff;
      transition: background-color 150ms, color 150ms;
      &:hover {
        background-color: @link-color;
        color: #fff;
        &:focus {
          color: #fff;
        }
      }
      &:focus {
        color: @link-color;
      }
    }
  }
  .navbar-default {
    border: 0;
    .navbar-nav {
      & > li {
        position: static;
        & > a {
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 2px;
          display: block;
          padding-left: 25px;
          padding-right: 25px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          text-transform: uppercase;
          font-weight: 600;
          i {
            &:before {
              font-size: 16px;
              content: '\f2f9';
            }
          }
        }
      }
      & > .open {
        & > a {
          border-color: @border-color;
          background-color: #fff;
          i {
            &:before {
              font-size: 16px;
              content: '\f2fc';
            }
          }
          &:after {
            content: '';
            background: #fff;
            height: 2px;
            width: 100%;
            display: block;
            position: absolute;
            top: 79px;
            left: 0;
            z-index: 2001;
          }
        }
      }
    }
  }
}

.menu-open {
  .site-header {
    z-index: 2000;
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .site-header {
    margin-bottom: 30px;
    .navbar-collapse {
      &.in {
        //max-height: 354px !important;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .site-header {
    .navbar-collapse {
      background: #fff;
    }
  }

}
