// site-header.less
// -----------------------------------------------------------------

.site-header {
  margin-bottom: 50px;
  .topbar {
    background: #333;
    color: #fff;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    .topbar-request-quote {
      text-align: right;
      text-transform: uppercase;
      .btn-quote {
        margin-left: 15px;
        font-weight: 600;
        padding: 2px 15px;
        font-size: 14px;
      }
    }
  }

  .navbar-brand {
    padding: 12.5px 15px;
    img {
      height: 75px;
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    font-weight: 600;
    & > li {
      & > a {
        font-weight: 700;
        font-size: 14px;
      }
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .site-header {
    margin-bottom: 30px;
  }
  
}

// Up to landscape phone
@media (max-width: 480px) {

  .site-header {
    .topbar {
      .topbar-request-quote {
        text-align: center;
      }
    }
  }

}