.single-product {
  .available-styles {
    background: @grey-bg;
    padding: 50px 0;
    margin: 0 0 80px;
    .available-styles-header {
      display: flex;
      align-items: center;
      margin: 0 0 60px;
      h3 {
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
      }
      .cross-pollination-link {
        margin-left: auto;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .operating-styles {
      list-style-type: none; list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .menu-item {
        text-align: center;
        padding: 0 15px;
        a {
          display: block;
          color: @dark-grey;
          text-decoration: none;
          transition: color 100ms;
          &:hover {
            color: @orange;
          }
        }
        i {
          font-size: 75px;
        }
        img {
          height: 180px;
        }
        .img-window-style {
          height: 75px;
          width: auto;
        }
        .item-title {
          display: block;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: 10px;
          font-weight: 500;
        }
      }
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .single-product {
    .available-styles {
      margin: 0 0 60px;
      padding: 50px 0 20px;
      .operating-styles {
        .menu-item {
          width: 33.333%;
          margin: 0 0 30px;
        }
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .single-product {
    .available-styles {
      margin: 0 0 40px;
      padding: 30px 0 0;
      .available-styles-header {
        flex-flow: column;
        align-items: flex-start;
        margin: 0 0 40px;
        h3 {
          margin: 0 0 15px;
        }
        .cross-pollination-link {
          margin-left: 0;
        }
      }
      .operating-styles {
        .menu-item {
          width: 33.333%;
          margin: 0 0 30px;
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .single-product {
    .available-styles {
      margin: 0 0 30px;
      .operating-styles {
        .menu-item {
          width: 50%;
        }
      }
    }
  }

}
