.hero-title {
  height: 450px;
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 60px;
  .hero-bg {
    background-size: cover;
    background-position: 50% 50%;
    opacity: .75;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hero-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    color: #fff;
    h1 {
      color: #fff;
      font-size: 70px;
      margin: 0;
      letter-spacing: -.5px;
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .hero-title {
    .hero-content {
      h1 {
        font-size: 50px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .hero-title {
    height: 320px;
    .hero-content {
      h1 {
        font-size: 36px;
      }
    }
  }

}
