.menu-visual {
  .menu-left {
    display: flex;
    flex-direction: column;
  }
  .menu-items {
    list-style-type: none; list-style: none;
    margin: 0;
    padding: @grid-gutter-width;
    display: flex;
    flex-flow: row wrap;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    .menu-item {
      text-align: center;
      width: 33%;
      padding: 30px 15px;
      a {
        display: block;
        color: @dark-grey;
        text-decoration: none;
        transition: color 100ms;
        &:hover {
          color: @orange;
        }
      }
      i {
        font-size: 75px;
      }
      img {
        height: 180px;
      }
      .img-window-style {
        height: 75px;
        width: auto;
      }
      .item-title {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
  .menu-toggle {
    display: flex;
    align-items: center;
    border-top: 1px solid @border-color;
    margin-top: auto;
    .btn-toggle {
      flex: 1 0 auto;
      background: transparent;
      color: @link-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 700;
      border: 0;
      height: 43px;
      position: relative;
      span {
        font-size: 10px;
      }
      &.is--current {
        background: @link-color;
        color: #fff;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 11px 20px;
          border-color: transparent transparent @link-color transparent;
          position: absolute;
          top: -11px;
          left: 50%;
          margin-left: -20px;
        }
      }
    }
  }
}

#by-window-style,
#by-window-material,
#by-door-style,
#by-door-material {
  display: none;
  &.is--visible {
    display: block;
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .menu-visual {
    background: @grey-bg;
    .menu-items {
      padding: 15px 15px 0;
      display: flex;
      flex-flow: row wrap;
      list-style-type: none; list-style: none;
      margin: 0;
      .menu-item {
        width: 50%;
        margin: 0 0 25px;
        padding: 0;
        a {
          display: flex;
          transition: color 100ms;
          color: @dark-grey;
          align-items: center;
        }
        .item-title {
          text-align: left;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-transform: none;
          letter-spacing: 0;
          margin: 0;
        }
        .img-wrapper {
          width: 60px;
          text-align: center;
        }
        img {
          height: 30px !important;
          width: auto;
          margin-right: 10px;
        }
      }
    }
    .menu-toggle {
      padding: 10px 15px;
      border: 0;
      display: block;
      .btn-toggle {
        background: transparent;
        letter-spacing: 1px;
        height: auto;
        font-size: 13px;
        &:first-child {
          border-right: 1px solid @border-color;
          padding-right: 15px;
          margin-right: 5px;
        }
        &.is--current {
          color: #282828;
          background: transparent;
          &:before {
            display: none;
          }
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .menu-visual {
    background: @grey-bg;
    .menu-items {
      padding: 15px 15px 0;
      display: flex;
      flex-flow: row wrap;
      list-style-type: none; list-style: none;
      margin: 0;
      .menu-item {
        width: 50%;
        margin: 0 0 25px;
        padding: 0;
        a {
          display: flex;
          transition: color 100ms;
          color: @dark-grey;
          align-items: center;
        }
        .item-title {
          text-align: left;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          text-transform: none;
          letter-spacing: 0;
          margin: 0;
        }
        .img-wrapper {
          width: 60px;
          text-align: center;
        }
        img {
          height: 30px !important;
          width: auto;
          margin-right: 10px;
        }
      }
    }
    .menu-toggle {
      padding: 10px 15px;
      border: 0;
      display: block;
      .btn-toggle {
        background: transparent;
        letter-spacing: 1px;
        height: auto;
        font-size: 13px;
        &:first-child {
          border-right: 1px solid @border-color;
          padding-right: 15px;
          margin-right: 5px;
        }
        &.is--current {
          color: #282828;
          background: transparent;
          &:before {
            display: none;
          }
        }
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .menu-visual {
    background: @grey-bg;
    .menu-items {
      padding: 15px 15px 0;
      display: flex;
      flex-flow: row wrap;
      list-style-type: none; list-style: none;
      margin: 0;
      .menu-item {
        width: 100%;
        margin: 0 0 25px;
        padding: 0;
        a {
          display: flex;
          transition: color 100ms;
          color: @dark-grey;
          align-items: center;
        }
        .item-title {
          text-align: left;
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          text-transform: none;
          letter-spacing: 0;
          margin: 0;
        }
        .img-wrapper {
          width: 60px;
          text-align: center;
        }
        img {
          height: 30px !important;
          width: auto;
          margin-right: 10px;
        }
      }
    }
    .menu-toggle {
      padding: 10px 15px;
      border: 0;
      display: block;
      .btn-toggle {
        background: transparent;
        letter-spacing: 1px;
        height: auto;
        font-size: 13px;
        &:first-child {
          border-right: 1px solid @border-color;
          padding-right: 15px;
          margin-right: 5px;
        }
        &.is--current {
          color: #282828;
          background: transparent;
          &:before {
            display: none;
          }
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}
