.menu-list {
  .menu-items {
    padding: @grid-gutter-width;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 25px 0 0;
    li {
      flex: 50%;
      margin: 0 0 25px;
      a {
        font-size: 18px;
        color: @text-color;
        text-decoration: none;
        font-weight: 500;
        display: block;
        transition: color 100ms;
        &:hover {
          color: @link-color;
        }
        i {
          font-size: 27px;
          text-align: center;
          width: 40px;
          display: inline-block;
          margin-right: 12px;
          vertical-align: middle;
        }
      }
    }
  }
}
