.story-section {
  padding: 80px 0;
  header {
    text-align: center;
    margin: 0 0 60px;
    .story-section-title {
      font-size: 36px;
      margin: 0 0 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .story-section-summary {
      font-size: 20px;
      margin: 0;
    }
    .story-section-actions {
      margin-top: 30px;
      .action {
        display: block;
        & + .action {
          margin-top: 10px;
        }
      }
      .btn-text {
        padding: 0;
      }
    }
  }
}
