.home-callouts {
  display: flex;
  margin: 0 0 80px;
  .callout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 60px;
    height: 400px;
    background: #1C1C1C;
    background-size: cover;
    background-position: 50% 50%;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
  .callout-blog {
    text-align: center;
    color: #fff;
    h3 {
      color: #fff;
      font-size: 46px;
      margin: 0 0 30px;
    }
    .btn {
      padding: 10px 70px;
      font-size: 14px;
    }
  }
  .callout-professionals {
    text-align: center;
    color: #fff;
    h3 {
      color: #fff;
      font-size: 36px;
    }
    p {
      margin: 0 0 30px;
    }
    .btn {
      padding: 10px 70px;
      font-size: 14px;
    }
  }
}
