.sidebar-block-materials {
  margin: 0 0 60px;
  h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 20px;
    letter-spacing: 1px;
  }
  .the-materials {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .single-material {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 0 0 30px;
    .material-title {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      display: block;
      margin-top: 10px;
    }
  }
}
